body {
    background-color: #363532;
}

.verde {
    color:#769656;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 0px;
}
.branco {
    color:#eeeed2;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 0px;
}


.letra {
    margin-top: 50px;
    text-align: right;
    width: 73px;
    font-weight: bolder;
    position: absolute;
}


#principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}

#tabuleiro {
    background-color: #eeeed2;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: wrap;
}

.vd {
    background-color:#769656;
}

.quadrado {
	width: 75px;
	height: 75px;
    background-size: 100%;
    display: flex;
    flex-flow: wrap;
}

img {
    width: 75px;
    height: 75px; 
}

.amarelo {
    background-color:#f6f669;
}

.vermelho {
    background-color:#e97763;
}

/*Imagem das peças tirado do site chess.com*/
.TB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png'); cursor: pointer;}
.TP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png'); cursor: pointer;}
.CB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png'); cursor: pointer;}
.CP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png'); cursor: pointer;}
.BB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png'); cursor: pointer;}
.BP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png'); cursor: pointer;}
.DB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png'); cursor: pointer;}
.DP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png'); cursor: pointer;}
.RB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png'); cursor: pointer;}
.RP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png'); cursor: pointer;}
.PB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png'); cursor: pointer;}
.PP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png'); cursor: pointer;}