body {
    background-color: #363532;
}

.verde {
    color:#769656;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 0px;
}

.branco {
    color:#eeeed2;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 0px;
}

.letra {
    margin-top: 50px;
    text-align: right;
    width: 73px;
    font-weight: bolder;
    position: absolute;
}

#principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}

#tabuleiro {
    background-image: url("//images.chesscomfiles.com/chess-themes/boards/green/150.png");
    background-size: 600px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: wrap;
}

.quadrado {
	width: 75px;
	height: 75px;
    background-size: 100%;
    display: flex;
    flex-flow: wrap;
}

img {
    width: 75px;
    height: 75px; 
}

.amarelo {
    background-color:#f6f669;
}

.vermelho {
    background-color:#e97763;
}

/*Promoção*/
.promocaoBarra {
    display: flex;
    z-index: 1000;
    width: 300px;
    height: 76px;
    background-color: white;
    border: 1px solid #363532;;
    position: absolute;
}

#promocaoBranco { margin-top: 112.5px;}
#promocaoPreto { margin-top: 412.5px;}
.visibility {visibility: hidden;}

.promocao {
    z-index: 1001;
    width: 75px;
	height: 75px;
    background-size: 100%;
    cursor: pointer;
}

.promocao:hover {
    transform: scale(1.1, 1.1);
}

.pointer {pointer-events: none;}

/*Imagem das peças tirado do site chess.com*/
.TB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png'); cursor: pointer;}
.TP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png'); cursor: pointer;}
.CB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png'); cursor: pointer;}
.CP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png'); cursor: pointer;}
.BB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png'); cursor: pointer;}
.BP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png'); cursor: pointer;}
.DB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png'); cursor: pointer;}
.DP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png'); cursor: pointer;}
.RB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png'); cursor: pointer;}
.RP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png'); cursor: pointer;}
.PB { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png'); cursor: pointer;}
.PP { background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png'); cursor: pointer;}