body {
    background-color: #363532;
}

#principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}

#tabuleiro {
    background-color: #eeeed2;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: wrap;
}

.v{
    background-color: #769656;
}

.quadrado {
	width: 75px;
	height: 75px;
    cursor: pointer;
    background-size: 100%;
}

img {
    width: 75px;
    height: 75px;
    
}

.TP { background-image: url("../imagens/torre-preto.png"); }
.TB { background-image: url("../imagens/torre-branco.png"); }

.amarelo {
    background-color: yellow;
    opacity: 0.5;
}